$image-path: '../images/';

$font-quicksand: 'Quicksand', sans-serif;
$font-roboto: 'Roboto Condensed', sans-serif;

// Color
$color-blue: #4ABDAC; // Main Color
$color-orange: #FC4A1A; // Highlights
$color-yellow: #F7B733; // Buttons
$color-grey: #DFDCE3; // Words

// Media Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Dimensions
$header-height: 60px;
$footer-height: 200px;