.landing-page{
  color: white;
  background: black;
  &.light{
    color: black;
    background: white;
  }
  .landing-page-body{
    padding-top: $header-height;
    .landing-page-body-welcome{
      min-height: calc(100vh - #{$header-height});
      position: relative;
      .landing-page-body-welcome-body-logo{
        margin: 10% auto;
        width: 70vw;
        height: 20vw;
        background: url('../images/logo/longlogo-transparent.png');
        background-size: 100% 100%;
        @media screen and (max-width: map-get($grid-breakpoints, md)){
          background: url('../images/logo/logo-transparent.png');
          background-size: 100% 100%;
          width: 70vw;
          height: 70vw;
          margin: 0 auto;
        }
        @media screen and (max-width: map-get($grid-breakpoints, sm)){
          width: 90vw;
          height: 90vw;
        }
      }
      .landing-page-body-welcome-body-links{
        position: absolute;
        bottom: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .landing-page-body-welcome-body-links-link{
          display: inline-block;
          margin: 0.4em auto;
          background: $color-blue;
          font-size: 1.3rem;
          font-weight: 900;
          padding: 0.7em 2em;
        }
        .landing-page-body-welcome-body-links-arrow{
          margin: 1em 1em 0 0;
          font-size: 3rem;
          text-align: right;
        }
      }
    }
  }
}