@import './variables';

@import './common/common-header.scss';
@import './common/common-footer.scss';
@import './common/common-hover-display.scss';

@import './landing.scss';

body {
  font-size: 16px;
  font-family: $font-quicksand;
  margin: 0;
  text-align: left;
  color: white;
  background: black;
}

/* CLICKABLES */
[role="button"],
button,
input,
label,
a,
select {
  cursor: pointer;
  outline: none;
}