.common-header{
  font-size: 16px;
  position: fixed;
  width: 100vw;
  height: $header-height;
  background: $color-grey;
  z-index: 10;
  .common-header-centering{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .common-header-icon{
      height: 100%;
      width: 180px;
      background: url('../images/logo/longlogo-transparent.png');
      background-size: 100% 100%;
    }
    .common-header-links{
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: map-get($grid-breakpoints, lg)) {
        display: none;
      }
      .common-header-links-item{
        align-self: center;
      }
      .common-header-links-item:hover{
        color: $color-blue;
      }
    }
    .common-header-mobilelinks{
      font-size: 1.6em;
      align-self: center;
      @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        display: none;
      }
    }
  }
  .common-header-mobileMenu{
    position: absolute;
    top: $header-height;
    width: 100vw;
    z-index: 100;
    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
    .common-header-mobileMenu-item{
      height: 50px;
      width: 100%;
      background: $color-grey;
      text-align: center;
      // VERTICAL ALIGN
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .common-header-mobileMenu-item:hover{
      background: $color-grey2;
      color: $color-blue;
    }
  }
}